.footer ul{
    list-style: none;
}

.footer li a {
    text-decoration: none;
}

.footer {
    background: linear-gradient(180deg,#090c0f,#141e28);
    color: blanchedalmond;
}

.fab{
    margin-right: 17px;
    font-size: 25px;
    color: white;
}

.footer p {
    font-family: 'Playfair Display', serif;
}

.footer li,.footer a{
    font-family: 'Antonio', sans-serif;
    letter-spacing: 3px;
    color: white;
}